
@{
    ViewBag.Title = "ProjectList";
}

<h2>ProjectList</h2>

<div>
	<!-- ADD the project list box here-->
	<p> Project List</p>
	<br />
	@Html.DropDownList("ListItem")
	<input type="submit" value="Activate/Deactivate" formaction="<!--Need to add action to activate or deactivate project-->" />
</div>

<br />
<br />
<br />

<table border="1" cellpadding="4" cellspacing="4">
	<tr>
		<th>Name</th>
		<th>Group</th>
		<th>Hours</th>
	</tr>

	<tr>
		<td> ADD 1  </td>
		<td> ADD 1  </td>
		<td> ADD 1  </td>
	</tr>
	<tr>
		<td> ADD 2  </td>
		<td> ADD 2  </td>
		<td> ADD 2  </td>
	</tr>
	<tr>
		<td> ADD 3  </td>
		<td> ADD 3  </td>
		<td> ADD 3  </td>
	</tr>

</table>

<br />
<br />

<div>
	<!-- ADD the graph stuff here -->

</div>