@model Assignment3CS3750.Models.ApplicationUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h4>ApplicationUser</h4>
            <p>@ViewData["admin"]</p>
        <hr />
    </div>
</body>
</html>
