
@{
    ViewBag.Title = "CreateStudentLogin";
}

<h2>Create A Student Login</h2>

<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <label>Enter Username</label>
        <input type="text" id="Username" value="" />

        <label>Enter Password</label>
        <input type="text" id="Password" value="" />

        <label>Enter Project</label>
        <input type="text" id="Project" value="" />

        <br />
        <br />
        <input type="submit" value="Submit" formaction="@Url.Action("StudentLogin", "Student")" />

    }
