@model Assignment3CS3750.Models.Clock
@{
    ViewBag.Title = "StudentClockIn";
}

<h2>StudentClockIn</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    <body>
       <p>This is the Timestamp:  @Model.ClockIn</p>
        <p> This is the query: @Model.clockInQuery</p>
      
        <input type="submit" value="Submit" formaction="@Url.Action("Student", "Student")" />
    </body>
}