@model Assignment3CS3750.Models.Clock
@{
    ViewBag.Title = "StudentClockOut";
}

<h2>StudentClockOut</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <body>
        <p>@Model.ClockOut </p>
        <p>This is the comment: @Model.ClockOutComment </p>

       

            <input type="submit" value="Submit" formaction="@Url.Action("Student", "Student")" />
</body>


}
