@model Assignment3CS3750.Models.Student
@{
    ViewBag.Title = "StudentClockOut";
}

<h2>StudentClockOut</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <body>
        <p>@Model.ClockOut; </p>
        <p>@Model.ClockOutComment;</p>
      
    </body>


}
