@model Assignment3CS3750.Models.Student

@{
    ViewBag.Title = "StudentLogin";
}

<h2>Student Login</h2>

 @using (Html.BeginForm(FormMethod.Post))
        {
<body>

    <div>
		<p>@Model.LoginError</p> 
        <p> UserName: @Html.TextBoxFor(model =>model.Username)</p>
		<p> Password: @Html.TextBoxFor(model => model.Password)</p>
     
        <input type="submit" value="Submit" formaction="@Url.Action("Student", "Student")" />


    </div>
</body>
 }
