
@{
    ViewBag.Title = "StudentLogin";
}

<h2>Student Login</h2>

<body>

    <div>

        @using (Html.BeginForm(FormMethod.Post))
        {
            <label>Enter Username</label>
            <input type="text" id="Username" value="" />

            <label>Enter Password</label>
            <input type="text" id="Password" value="" />

            <br />
            <br />
            <input type="submit" value="Submit" formaction="@Url.Action("Student", "Student")" />

        }



    </div>
</body>
